<h2>Lista estudiantes</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Dni</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{estudiante.id}}</td>
      <td>{{estudiante.dni}}</td>
      <td>{{estudiante.nombre}}</td>
      <td>{{estudiante.apellido}}</td>
      <td>{{estudiante.email}}</td>
      <td>
        <button (click)="actualizarEstudiante(estudiante.id)" class="btn btn-primary">Editar</button>
      <button (click)="eliminarEstudiante(estudiante.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
      <button (click)="verDetallesDelEstudiante(estudiante.id)" class="btn btn-info" style="margin-left: 10px;">Detalles</button>
      </td>

    </tr>
  </tbody>
</table>
